{% extends 'core/base.html' %}
{% block content %}
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-3 text-center">¿Quieres eliminar "{{caracteristica}}"?</h1>
            </div>
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <div class="row">
                    <div class="col-md-6">
                        <input class="btn btn-danger" type="submit" value="Sí, eliminar">
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-secondary" href="{% url 'caracteristicas:lista' %}">No, cancelar</a>
                    </div>
                </div>
                
            </form>
            
        </div>
    </div>

</div>


{% endblock %}